p{
    margin: 1-px 0 !important;
}

.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.fa-small{
    font-size: 16px !important;
}

.flex-btn{
   display: flex;
   justify-content:space-evenly;
}

.img-small{
    width: 100px
}